.match-bg {
  background-image: url("https://wallpapers.com/images/featured/carbon-fiber-11gbag3a3s3o1b3f.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
